*{
    margin:0;
    padding:0;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: black; 
}

hr {
    color: white;
    margin-top: 10px;
}

p{
    font-family: 'Josefin Slab', serif;
    font-size: 1em;
    margin:20px;
}

main {
    width: 100%;
    height: 100%;
}
.home-bg {
    background-image: url("https://images.pexels.com/photos/4004374/pexels-photo-4004374.jpeg");
    /* background-position: center; */
}

.container-bg {
    /* background-image: url("assets/img/mist.jpg"); */
    /* margin-left: 50px; */
    margin: auto;
    justify-content: space-around;
    border-radius: 5px;
    padding-bottom: 50px;
}

.card {
    margin-top: 50px;
    padding-top: 10px;
}

.card:hover {
    margin-top: -3px;
}

.about {
    background-image: url("");
    
}

.contact {
    background-image: url("");

}

.title {
    padding-top: 15px;
}

.intro {
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
    width: 50%;
    height: 200px;
    background-color:rgba(246, 246, 252, 0.096);
    color: whitesmoke;
    text-align: center;

}

nav {
    margin-top: 100px;
}

nav ul {
    display: flex;
    justify-content: space-around; 
    padding: 10px;
    background-color:rgba(246, 246, 252, 0.096);
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: rgb(177, 149, 199);
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4.5em;
    }
    p {
        font-size: 1.3em;
    }
    a {
        font-size: .8em;
    }
    
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.2em;
    }
    a {
        font-size: .6em;
    }
    
}